body {
    background-color: #070707;
    color: #efefef;
}

.main-container {
    scroll-snap-type: y mandatory;
    overflow: scroll;
    display: flex;
    min-height: 100vh;
}

.main-container .content-row {
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    width: 100%;
}