body {
    background-color: #070707;
    color: #efefef;
}

.main-container {
    scroll-snap-type: y mandatory;
    display: flex;
    min-height: 100vh;
    overflow-y: scroll;
    flex-direction: column;
}

.main-container .content-row {
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    width: 61.8%;
}

.page {
    height: 100vh;
    scroll-snap-align: start;
}

.snap-container {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}